{% extends 'base.html' %}
{% block content %}
  <h2>{{ post_date }}의 일기</h2>
  <h4>제목 :
    {{ post_title }}</h4>
  <p>작성자 :
    {{ post_writer }}</p>
  <p>기분 :
    {{ post_mood }}</p>
  <img src="{{ post_painting }}" alt="그림">
  <p>{{ post_content }}</p>

  {% if post_writer == request.user %}
    <form action="{% url 'diary:edit' pk=post_id %}" method="get">
      {% csrf_token %}
      <input type="submit" value="수정">
    </form>
    <form action="{% url 'diary:delete' pk=post_id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="삭제">
    </form>
  {% endif %}
  <hr>
  <!-- 댓글 -->
  <h3>댓글</h3>
  <form action="{% url 'diary:cm-write' pk=post_id %}" method="post">
    {% csrf_token %}
    {{ comment_form.content }}
    <input type="submit" value="댓글 작성">
  </form>

  {% if comments %}
    <ul>
      {% for comment in comments %}
        <li>{{ comment.content }}
          <span>
            -
            {{ comment.writer }}</span>
          {% if comment.writer == request.user %}
            <form action="{% url 'diary:cm-delete' pk=comment.pk %}" method="post">
              {% csrf_token %}
              <input type="submit" value="x" class="btn">
            </form>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>댓글이 없습니다.</p>
  {% endif %}
{% endblock %}
